{% extends "base.html" %}
{% load static %}

{% block title %}Connect Website{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/connect.css' %}">
{% endblock %}

{% block content %}
<div class="container-xxl py-4">
  <h3>Connect a New Website</h3>
  <p>Enter the website details below to send a connection request.</p>

  <form method="POST" action="{% url 'connect_website' %}">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="name" class="form-label">User Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="mb-3">
      <label for="url" class="form-label">API URL</label>
      <input type="text" class="form-control" id="url" name="url" placeholder="http://127.0.0.1:8001" required>
    </div>

    <div class="mb-3">
      <label for="api_key" class="form-label">API KEY</label>
      <input type="text" class="form-control" id="api_key" name="api_key" required>
    </div>

    <button type="submit" class="btn btn-primary">Connect</button>
  </form>

  <hr class="my-4">
</div>


<div id="popup-message"></div>
<div id="notification-bar"></div>


<script id="django-messages" type="application/json">
[ {% for message in messages %} {"text": "{{ message|escapejs }}", "tags": "{{ message.tags }}"}{% if not forloop.last %},{% endif %} {% endfor %} ]
</script>

<script id="approved-data" type="application/json">
[ {% for site in approved_sites %} {"name": "{{ site.name|escapejs }}"}{% if not forloop.last %},{% endif %} {% endfor %} ]
</script>

{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/connect.js' %}"></script>
{% endblock %}